<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <script src="/public/js/delete/confirmDelete.js" defer></script>
  </head>
  <body>
    <%- contentsListHTML %>
    <h1><%= contentTitle %></h1>
    <p><%= description %></p>
    <a href="/update?target=<%= encodeURIComponent(contentTitle) %>">Edit</a>
    <form id="form_delete" action="/delete/process" method="post">
      <input type="hidden" name="targetTitle" value="<%= contentTitle %>">
      <input type="submit" value="Delete">
    </form>
  </body>
</html>
