<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <%- contentsListHTML %>
    <h1><%= contentTitle %></h1>
    <p><%= description %></p>
    <a href="/update?target=<%= contentTitle %>">Edit</a>
  </body>
</html>
