<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %> - Edit</title>
    <script src="/public/js/create/validateFormData.js" defer></script>
  </head>
  <body>
    <%- contentsListHTML %>
    <form id="form" action="/update/process" method="post">
      <p><input id="targetTitle" type="hidden" name="targetTitle" value=<%= targetTitle %> /></p>
      <p><input id="title" type="text" name="newTitle" placeholder="title" value=<%= targetTitle %> /></p>
      <p><textarea name="description" placeholder="description"><%= targetDescription %></textarea></p>
      <p><input type="submit" value="Edit" /></p>
      <a href="/content/<%= encodeURIComponent(title) %>">Cancel</a>
    </form>
  </body>
</html>
